html,
body {
	font-size: 16px;
	line-height: 22px;
	color:#323232;
	font-weight:normal;
	font-family: Roboto,Arial,sans-serif;

}

h1 {
	font-size: 60px;
	line-height: 60px;
	color:#ffffff;
	font-weight:normal;
	font-family: Roboto Black;
	margin-top:0;
	margin-bottom:0;
	margin-left: 237px;
	width:675px;
	
}

.correct {
	margin-left: 10px;
}


h2 {
    font-size: 35px;
    line-height: 41px;
	color:#ffffff;
	font-weight:bold;
	font-style: Roboto Bold;
	margin-top:18px;
	margin-left:18px;
	margin-bottom: 15px;
}

body {
   	background:  url("../img/gllacy-catalog-11200.jpg") no-repeat ; 
	background-position: 50% 0;
    padding:0;
    margin:0;
}
.page-border{
	width:1200px;
	margin:0 auto;

	background: #849d8f;

}

.main-container{
	position: relative;
	
 	margin:0 auto;
	width:1146px;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 0;
	padding-top: 0;
	
}

.main-header {
	margin:0 auto;
	width:1146px;
	min-height: 73px;
	padding:0;
	margin-bottom:0;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 0;
	padding-top: 0;

}


.main-navigation {
	float:left;
	width:410px;

	
}
.main-navigation ul{
    padding-left: 0px;
    padding-right: 5px;
	margin-bottom:0;
	margin-top: 24px;
}
.main-navigation  a{
	
	display: block;
	padding-left:13px;
	padding-right: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 25px;
	font-size:16px;
	line-height: 18px;
	font-style: Roboto Bold;
	font-weight: bold;
	color:#fefefe;

	text-decoration-line: solid;
	text-decoration-color: #b2cabd;  
}

.main-navigation li {
	display:inline-block;
	margin-left: 11px;
	vertical-align: bottom;
}
.main-navigation li:nth-child(2n) {
	margin-left: 0px;
}
.main-navigation li:nth-child(3n) {
	margin-left: 0px;
}
.main-navigation a:hover{
	background: #ffffff;
	color:#000000;
	text-decoration: none;
}	
.main-navigtion a:active{
	background: #ffffff;
	color:#000000;
	box-shadow: inset 0px 3px 2px 0 #696969;
}
.user-block {
	float:right;
	width:275px;
	min-height: 73px;
	margin-left: 0px;
	margin-right:0px;
	padding-left:0;
	padding-right:0;
	padding-top: 0;
	padding-bottom: 0; 
}	
.user-block	 a{
	font-size:14px;
	line-height: 16px;
	font-style: Roboto Medium;
	
	text-decoration:none;
	color:#ffffff;
}
.user-sprite::before{
	background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;   
}

.search{
	position: relative;
	display:inline-block;
	width:32px;
	height: 32px;	
	background-color: #a1b5aa;
	border-radius: 16px;
	margin-left:10px;
	margin-top:22px;
	margin-right: 0px;
	vertical-align: bottom;	
}
.search::before {
	content: "";
	position: absolute;
	top: 7px;
	left: 8px;
	 width: 17px;
    height: 17px;
	background-position: -5px -64px;
}	
.search:hover::before{
	background-image: none;
}
.search:hover{
	background:#ffffff url("../img/loupe-b.png") no-repeat;
	background-position: 50% 50%;
	color:#000000;
}
.enter{
	display:inline-block;
	position: relative;
	background-color: #a1b5aa;
	border-radius: 16px;
	margin-left:10px;
	margin-right: 0;
	vertical-align: bottom;
	padding: 8px 17px 8px 43px;
}
.enter::before {
	content: "";
	position: absolute;
	top: 7px;
	left: 16px;
	background-position: -5px -36px;
	width: 21px;
	height: 19px; 
}	
.enter:hover::before{
	background-image: none;
}
.enter:hover{
	background:#ffffff url("../img/enter-b.png") no-repeat;
	background-position: 22% 50%;
	color:#000000;
}
.basket{
	display:inline-block;
	position: relative;
	background-color: #a1b5aa;
	border-radius: 16px;
	margin-left: 5px;
	margin-right: 0;
	vertical-align: bottom;
	padding: 8px 34px 8px 45px;
}
.basket::before {
	content: "";
	position: absolute;
	top: 7px;
	left: 16px;
	width: 21px;
    height: 20px;
    background-position: -5px -5px;
}


.logo {
	float:left;
	margin-bottom:0;
	margin-top:9px;
	margin-left: 23px;
}
.clearfix::after {
  	content: "";
    display: table;
    clear: both;
}

.main-mode {
	float: right;
	width:172px;
}

.mode {
	margin-top: 0;
	margin-bottom:0;
	margin-left: 18px;
	font-size:18px;
	line-height: 22px;
	font-style: Roboto Regular;
	color:#ffffff;

}
.mode-num{
	margin-top: 0;
	font-size: 14px;
	line-height: 20px;
	color:#ffffff;
	font-weight: bold;
	font-style: Roboto Bold;
	text-align: right;
}
.mode-num span{
	display: block;
	text-align: right;
	font-size: 22px;
	line-height: 24px;
	color:#ffffff;
	font-weight: bold;
	font-style: Roboto Black;
}

.two-ice-scream {
	width:1146px;
	background-image:url("../img/icescream-bgd-1.png");
	background-repeat:no-repeat;
	background-position: 50% 10px;
	padding-top: 320px;
}


.two-ice-scream-btn {
	width:278px;
	
	border-radius: 30px;
	padding-top: 17px;
	padding-bottom: 17px;
	margin-right: auto;
	margin-left: auto;
	margin-top:30px;
	background-image: linear-gradient(#f26843,  #e74b36);
	box-shadow: 0 2px 7px 0 #9d2600;
	text-shadow:0 2px 7px #a0200b;

}
.two-ice-scream-btn a {
	color:#ffffff;
	text-decoration:none;
	font-size: 32px;
	margin-left: 40px;
	margin-bottom: 0;
}

.slider {
	width:100px;	
	float:left;
	margin-top: 48px;
	margin-bottom: 0;
	padding-top: 0;
}
.slider a{
	display: inline-block;
	font-size: 0;
	width:16px;
	height: 16px;
	border:2px solid #ffffff;
	border-radius: 10px;
	margin-left: 0px;
	margin-right: 6px;
	margin-top: 0;
}
.slider-active{
	background: #ffffff;
}
.slider a:hover{
	background: #b2c1b7; 
}
.banner {
	width:560px;
	height:230px;
	margin-top: 40px;
	margin-bottom:0px;
	
}
.banner p {
	margin-right: 22px;
}
.raspberries{
	background-image: url("../img/raspberries.png");
	float:left;
	
}
.chocolate {
	background-image: url("../img/chocolate.png");
	float:right;
}
.giveme-btn{
	float:right;
	display: inline-block;
	margin-right: 22px;
	margin-top: 45px;
	padding: 11px 22px;
	border-radius: 22px;
	background-image: linear-gradient(#f16743,#e44a35);
	box-shadow: 0 2px 7px 0 #ac1000;
	vertical-align: top;
	text-decoration: none;
	color:#ffffff;
	font-size: 18px;
	line-height: 24px;
	
}

.hits-block {
	width:1146px;
}

.hits-ice-scream {
	position: relative;
	width:267px;
	float:left;
	margin-right:26px;
	margin-top: 0px;
	padding-bottom: 0px;
}
.hits-ice-scream::before{
	content: "";
	position:absolute;
	width:61px;
	height: 61px;
	top:40px;
	background:url("../img/hit-icon.png");
}

.hits-ice-scream figure {
	width: 267px;
	margin-left:0;
	margin-top: 40px;
	margin-bottom: 38px 
}
.hits-right{
	margin-right: 0;
}
.hits-underline{
	font-style: Roboto Medium;
	line-height: 22px;
	color:#ffffff;
	text-align: right;
	padding-right: 0;
	padding-left: 0;

}
.hits-underline span{
	display: inline;	
}

figcaption {
	margin-top:6px;
	margin-left: 0;	
	margin-right: 0;
	padding-right: 0;
	padding-left: 0;
/*	display: inline-block;*/
	text-align: center;
}
.ice-price{
	position: absolute;
	top:263px;
	font-size: 42px;
	font-style: Roboto Black;
	font-weight: bold;
	color:#ffffff;
	text-shadow:0 0px 5px rgba(50, 50, 50, .5);
}
.sub-class{
	font-size: 28px;
}

.about-us {
	margin-top: 0;
	width:1146px;
	height: 306px;
	background-image: url("../img/wafer-background.png");
}
.about-us-header {
	margin-top: 0;
	padding-top: 26px;
	margin-bottom: 0px;
	padding-left: 20px;
	font-size:24px;
	font-style: Roboto Medium;
	line-height: 30px;
	color: #323232;
}
.quality {
	width:489px;
	margin-left: 20px;
	display: inline-block;
	padding-left: 55px;
	padding-top: 7px;
	vertical-align: top;
	background-repeat:  no-repeat;
	background-position:   0 10px;	
}

.quality p {
	margin-bottom: 0;
}
.quality-production{
	background-image: url("../img/icesream-icon.png");
}
.quality-farm{
	background-image: url("../img/cow-icon.png");	
}
.quality-ecology{
	background-image: url("../img/sheet-icon.png");	
}
.quality-delivery{
	background-image: url("../img/degree-icon.png");
}

.news {
	width: 560px;
	height: 220px;
	margin-top: 40px;
	background-image: url("../img/news-1.png");
	background-repeat:  no-repeat;	
	float: left;
	
	padding-left: 20px;
	padding-top: 24px;

}
.news span{
	display: block;
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
	margin-bottom: 5px;
}
.news-underline{
	display: inline-block;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	padding-right: 250px;

}
.subs {
	margin-left:0;
	width: 560px;
	height: 220px;
	margin-top: 40px;
	margin-right: 0px;
	background-image: url("../img/post-background.png");
	background-repeat:  no-repeat;
	float: right;	
	padding-top: 20px;
}
.subs p{
	display: block;
	margin-right: 24px;
	margin-left: 26px;
}
.subs input[type="text"] {
	margin-top: 20px;
	margin-left: 26px;
	margin-right:8px; 
	width:350px;
	height: 40px;
	border-radius: 5px;
	font-size: 16px;
	padding-left: 15px;
	border-style: none;
	border: 1px solid #d3d3d2;

}
.subs input[type="submit"] {
	border-style: none;
	margin-top: 20px;
	margin-right: 0px;
	width:128px;
	height: 45px;
	border-radius: 22px;
	font-size: 16px;
	padding-left: 15px
	font-size:18px;
	line-height: 24px;
	font-weight: bold;
	color:#ffffff;
	background-image: linear-gradient(#f16743,#e44a35);
	box-shadow: 0 1px 3px 0 #ac1000;
}
.map {
	width:1200px;
	height:429px;
	margin-top: 18px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../img/map.png");
	margin-bottom: 0;
}
.map-contact{
	width:302px;
	float:right;
	margin-right: 27px;
	margin-top: 64px;
	background:#fefefe; 
	border-radius: 15px;
}

.map-contact p {
	font-size:14px;
	line-height: 20px;
	font-style: Roboto Regular;
	margin-top: 30px;
	margin-left: 27px;
	margin-right: 50px;
}
.map-contact span {
	font-size:18px;
	line-height: 24px;
	font-style: Roboto Bold;
	font-weight: bold;
}
.map-top{
	display:block;
	margin-bottom: 0;
}
.map-bottom{
	diasplay:block;
    padding-top: 0px;
    width:174px;
}
.map-btn{
	width:250px;
	
	border-radius: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-top:20px;
	margin-bottom:27px;
	padding-top:10px;
	padding-bottom:10px;
	background-image: linear-gradient(#f16743,#e44a35);
	box-shadow: 0 1px 3px 0 #ac1000; 
	
}
.map-btn a{
	font-size:18px;
	line-height: 24px;
	font-style: Roboto Bold;
	font-weight: bold;
	text-decoration: none;
	color:#fefefe; 	
	margin-right: 17px;
	margin-left:23px;	
}
.main-footer {
	width:1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 20px;

}
.footer-social{
	float: left;
	width:190px;
	height: 38px;
	margin-left: 27px;
    margin-top:38px;
    margin-right: 0;
    font-size: 0;
}
.social-btn{
	float: left;
	width: 38px;
	height: 38px;
	margin-right: 11px;
	margin-left: 0px;
	border-radius: 50%;
	border:3px solid #c2cec7;
	background-image: url("../img/sprite-social.png");
    background-repeat: no-repeat;
    display: block;
    box-shadow: 0 0 7px #87a092;
}
.social-btn-vk{
    margin-right: 0px;
}

.social-btn-tw{
  	width: 33px;
    height: 32px;
    background-position: -89px -5px;
}
.social-btn-inst{
   	width: 32px;
    height: 32px;
    background-position: -47px -5px;
}
.social-btn-fb{
 	width: 32px;
    height: 32px;
    background-position: -5px -5px;
}
.social-btn-vk{
	 width: 32px;
    height: 32px;
    background-position: -132px -5px;
}
.doc-left{
	position: relative;
	float: left;
	margin-top:38px;
	margin-bottom: 10px;
	margin-left: 196px;
	display: inline-block;
	padding-right: 0px;

}
.doc-left::before{
	position: absolute;
	content: "";
	width:15px;
	height: 13px;
	left: 15px;
	top:5px;
	background-image: url("../img/heart.png");

}
.doc-right{

	float: left;
	margin-top:38px;
	margin-right:0px;
	margin-bottom: 10px;
	margin-left: 20px;
	padding-right: 0px;

}
	
li {
	list-style: none; 
	margin-left:0;
	padding-left:0;
}
.doc-left a {
	font-size:13px;
	line-height: 18px;
	font-style: Roboto Bold;
	font-weight: bold;
	text-decoration: none;
	text-decoration: underline;
	text-decoration-color: #b2cabd;
	color:#fefefe; 	
}
.doc-right a {
	font-size:13px;
	line-height: 18px;
	font-style: Roboto Bold;
	font-weight: bold;
	text-decoration: none;
	text-decoration: underline;
	text-decoration-color: #b2cabd;
	color:#fefefe; 	
}
.main-footer{
	background: #849d8f;
}
.footer-copyright{
	
	float: right;
	width:215px;

	background: url("../img/htmlacademy-logo.svg") no-repeat 0 0;
	margin-top:22px;
	padding-top: 30px;
	margin-bottom:15px;
}

.footer-copyright p {
	font-size:12px;
	line-height: 18px;
	font-style: Roboto Regular;
	color:#fefefe;
}
.footer-copyright a {
	color:#fefefe;
}


/*----------------------------------------------------------------------------------------------------------CATALOG------------------------------------------------------------------------*/

.basket-full{
	display:inline-block;
	position: relative;
	background-color: #a1b5aa;
	border-radius: 16px;
	margin-left: 5px;
	margin-right: 0;
	vertical-align: bottom;
	padding: 8px 15px 8px 45px;
}
.basket-full::before {
	content: "";
	position: absolute;
	top: 7px;
	left: 16px;
	width: 21px;
    height: 20px;
    background-position: -5px -5px;
}
.basket-full:hover{
	background: #ffffff;
	color:#000000;

}
.item-price{
	position: absolute;
	top:233px;
	font-size: 42px;
	font-style: Roboto Black;
	font-weight: bold;
	color:#ffffff;
	text-shadow:0 0px 5px rgba(50, 50, 50, .5);
}
.breadcrums {
	width:240px;
	height: 41px;
	padding-bottom: 0;
}
.breadcrums ul{
    padding-left: 0;
    padding-right: 5px;
    padding-top: 10px;
	padding-bottom: 0;
	margin-bottom:0;
	margin-top:0;
	vertical-align: bottom;
}

.breadcrums li {
	display:inline-block;
	margin-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-right:15px;
	
	
}
.breadcrums p{
	display:inline-block;
	font-size:14px;
	line-height: 16px;
	font-style: Roboto Regular;
	color:#ffffff;
	margin-bottom: 0;
	
}
.breadcrums a{
	font-size:14px;
	line-height: 16px;
	font-style: Roboto Regular;
	text-decoration:none;
	color:#ffffff;
}
.title-catalog{
	display:block;
	font-size:35px;
	line-height: 41px;
	font-style: Roboto Bold;
	font-weight: bold;
	text-decoration:none;
	color:#ffffff;
	padding-top: 5px;
}
.filter-container{
	position: relative;
	width: 880px;
	
	padding-top:24px;
}
.filter-lb{
	margin-top:27px;
	
	font-size:14px;
	line-height: 16px;
	font-style: Roboto Medium;
	color:#ffffff;	
	margin-bottom: 10px;
}
.filter-lb-sort{
	margin-left: 15px;
}
.filter-lb-price{
	margin-right: 0;
	margin-left: 126px;
}
.filter-lb-fatness{
	margin-right: 0;
	margin-left: 85px;
	margin-bottom: 0px;
}

.filter-sorting{

	float:left;
	width:193px;
	height: 36px;
	
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 3px;
}
.filter-price{
	float:left;
	margin-left: 15px;
    margin-top:3px;
	width:218px;
	height: 36px;
	border-radius: 16px;
	background: #9db1a5;
	
}
/*-----------------------------------------------прорисовка фмльтра----------------------------*/
.scale{
	position: relative;
	height: 4px;
	width:87%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 16px;
	background:#cbd4cd; 
}
.scale-bar{
	height: 4px;
	margin-right:55px;
	margin-left: 22px;
	background:#f8f7f4;
}
.scale::before{
	position: absolute;
	content: "";
	height: 20px;
	width:20px;
	border-radius: 50%;
	background: #f8f7f4;
	left:22px;
	top:-10px;
	cursor: pointer;
	box-shadow: 0 2px 3px #91a398;

}
.scale::after{
	position: absolute;
	content: "";
	height: 20px;
	width:20px;
	border-radius: 50%;
	background: #f8f7f4;
	left:118px;
	top:-10px;
	cursor: pointer;
	box-shadow: 0 2px 3px #91a398;
}
.filter-sorting select{
	width:192px;
	height: 36px;
	border-radius: 30px;
	background: #aabab0;
	font-size:14px;
	font-style: Roboto Medium;
	font-weight: bold;

	color:#ffffff;
	padding-left: 16px;
}
.filter-fatness{

	float: right;
	width:414px;
	margin-left: 0px;
	margin-right: 23px;
	margin-top:3px;
	padding-top: 0;
	border-radius: 16px;
	background: #9db1a5;
}

.filter-fatness ul{
    padding-left: 22px;
    padding-right: 0px;
    padding-top: 7px;
	padding-bottom: 5px;
	margin-bottom:0;
	margin-top:0;
}

.filter-fatness li {
	display:inline;
	margin-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-right:22px;

	font-size:16px;
	line-height: 18px;
	font-style: Roboto Medium;
	color:#ffffff;	
}

.filter-filler{
	display: inline-block;
	width:702px;
	margin-top: 40px;
	float: left;
	border-radius: 16px;
	background: #9db1a5;
}

.filter-filler ul{
	
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 7px;
	padding-bottom: 5px;
	margin-bottom:0;
	margin-top:0;
}

.filter-filler li {
	display:inline-block;
	margin-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-right:25px;
	margin-top: 0;
	font-size:16px;
	line-height: 18px;
	font-style: Roboto Medium;
	color:#ffffff;	
	vertical-align: top;
}
.filter-filler li:last-child{
	margin-right: 0;
}
.class-span{
	position: absolute;
	top:255px;
	left: 390px;
	font-size:14px;
	font-style: Roboto Medium;
	color:#ffffff;	
	vertical-align: top;
}


.filter-btn{
	display: inline-block;
	margin-left: 15px;
	margin-right: 0px;
	margin-top: 40px;
	width: 143px;
	font-size: 16px;
	line-height: 18px;
	font-style: Roboto Medium;
	padding-top: 9px;
	padding-bottom: 9px;
	vertical-align: top;
	border-style:none;
	border-radius: 30px;
	border:2px solid #fcfcfc;
	background: #a6b7ae;
	color:#ffffff;
}


.item-block {
	margin-top: 28px;
	width:1146px;
	
}

.item-ice-scream {
	position: relative;
	width:267px;
	
	float:left;
	margin-right:26px;
	margin-top: 0px;
	padding-bottom: 0px;

}

.item-ice-scream figure {
	width:267px;
	margin-left:0;
	margin-top: 12px; 
	margin-bottom: 28px;
}

.item-ice-scream:nth-child(4n){
	margin-right: 0;
}

.item-ice-scream:last-child figure {
	
	margin-bottom: 22px;
}
.paginator{
	float:right;
	width:220px;
	margin-top:79px;
	margin-bottom:30px;

}
.paginator a {
	display: inline-block;	
	width:26px;
	height: 26px;
	text-decoration:none;
	border-radius: 13px;	
	font-size: 16px;
	padding-top:5px;
	padding-top:0px;
	text-align: center;
	color:#ffffff;
	vertical-align: top;
}

.paginator .active {
	margin-left:54px;
	background-color:#ffffff;
	color:#323232;
}
.paginator a:hover{
	background-color:#9db1a5;
	color:#323232;
}

/*----------------------стилизация radiobutton--------------------------------------*/
.radio-label{
	position:relative;
	cursor:pointer;
}
.radio-label input[type="radio"]{
	opacity: 0;	
}

.radio-label input[type="radio"]+
	.radio-indicator{
	position:absolute;
	left:-10px;
	width:18px;
	height: 18px;
	border-radius: 50%;
	border:2px solid #f8f7f4;
}

.radio-label input[type="radio"]:checked + .radio-indicator::before{
	content: "";
	
	position:absolute;
	width: 11px;
	height: 11px;
	top:3px;
	left:4px;
	border-radius: 50%;
	background-color: #f8f7f4;

}




.filler-checkbox{
	position:relative;
	cursor:pointer;
}
.filler-checkbox input[type="checkbox"]{
	
opacity: 0;	
}

.filler-checkbox input[type="checkbox"]+
	.checkbox-indicator{
	position:absolute;
	left:-10px;
	width:18px;
	height: 18px;
	border-radius: 3px;
	border:1px solid #f8f7f4;
}

.filler-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before{
	content: "";
	
	position:absolute;
	width: 6px;
	height: 3px;
	top:9px;
	left:2px;
	
	background-color: #f8f7f4;
	transform: rotate(45deg);

}

.filler-checkbox input[type="checkbox"]:checked+.checkbox-indicator::after{
	content: "";
	
	position:absolute;
	width: 12px;
	height: 3px;
	top:8px;
	left:5px;
	background-color: #f8f7f4;
	transform: rotate(-45deg);

}
.catalog-active{
	background: #d07058;
	text-decoration: none;
}
.catalog-active:hover{
	background: #d07058;
	text-decoration: none;
}

.footer-line{
	border-top:1px solid #ffffff;
}
.user-sprite-cat::before{
	background-image: url("../img/spritesheet1.png");
    background-repeat: no-repeat;   
}

/* стилизация скрытых слоев*/
.form-enter{
	position: absolute;
	padding-top: 20px;
	padding-left: 20px;
	top:-13px;
	left:725px;
	width: 278px;
	background: #f8f7f4;
	border-radius: 8px;
	box-shadow: 0 5px 40px 0 #000000;
	opacity: 0;
	
}
.form-enter span{
	float:right;
	width:128px;
	margin-right: 20px;
	margin-left: 0;
}
.form-enter a{
	font-size: 13px;
	line-height: 24px;
	color:#000000;

}
.form-field {
	width:238px;
	font-size: 14px;
	font-weight: 24px;
	padding-top:11px;
	padding-bottom: 13px;
	padding-left: 14px;
	margin-top:0;
	margin-bottom: 20px;
	border-radius: 5px;
	border:1px solid #d3d3d2;
	
}
.form-btn{
	float: left;
	margin-right: 0;
	margin-left: 0px;
	margin-bottom: 20px;
	width:100px;
	height: 44px;
	border-radius: 20px;
	border-style: none;
	background-image: linear-gradient(#f26843,#e74b36);
	font-size: 18px;
	font-weight: bold;
	color:#ffffff;
	box-shadow: 0 1px 5px 0 #ac1000;
}
.enter:focus ~ .form-enter,
.enter:active ~ .form-enter,
.enter:hover{
	opacity: 1;

}